img#Harvard {
    max-width: 200px;
    max-height: 200px;
    padding-top: 10px;
}

body {
    background-color: cadetblue;
}

main {
    display: grid;
    grid-template-areas: "header"
                         "introduction"
                         "harvard" 
                         "sidebar"
                         "history"
                         "contemporarysignificance"
                         "disclaimer"
}

h2 {
    justify-content: center;
    display: flex;
}

h1 {
    display: flex;
    justify-content: center;
}

#sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    align-content: space-between;
}

a {
    padding: 10px;
}

#disclaimer {
    grid-area: disclaimer;
}

#history {
    grid-area: history;
}

#introduction {
    grid-area: introduction;
}

#contemporarysignificance {
    grid-area: contemporarysignificance;
}

#header {
    grid-area: header;
}

img#ChaseProtest {
    height: 50%;
    width: 50%;
    padding-top: 15px;
    justify-items: center;
}

#harvard {
    grid-area: havard;
}

#grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
                         "header harvard"
                         "introduction sidebar"
                         "history sidebar"
                         "contemporarysignificance sidebar"
                         ;
    align-items: center;
}

