img#Harvard {
    max-width: 300px;
    max-height: 300px;
}

body {
    background-color: cadetblue;
}

h2 {
    justify-content: center;
    display: flex;
}

h1 {
    display: flex;
    justify-content: center;
}

a {
    padding: 10px;
    color: white;
}

img#ChaseProtest {
    height: 50%;
    width: 50%;
    padding-top: 15px;
    justify-items: center;
}


#header {
    display: flex;
    justify-content: space-between;
    background-color: sienna;
}

