body {
    background-color: cadetblue;
}

h1 {
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 1px solid black;
  }

  #header {
    display: flex;
    justify-content: space-between;
    background-color: sienna;
}