body {
    background-color: cadetblue;
}

main {
    display: grid;
    grid-template-areas: "submission"
                         "Harvard"
                         "sidebar"
                         "disclaimer";
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "submission Harvard"
                         "submission sidebar"
                         "disclaimer sidebar";
}

#disclaimer {
    grid-area: disclaimer;
}

#submission {
    grid-area: submission;
}

#sidebar {
        grid-area: sidebar;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
}

img#Harvard {
    max-width: 200px;
    max-height: 200px;
    padding-left: 100px;
}

a {
    padding: 10px;
}